{"openapi":"3.0.1","info":{"title":"Content Hub External API","description":"Content Hub External API","version":"1.0"},"servers":[{"url":"https://api.columbia.com/ContentHubExternal"}],"paths":{"/api/external/image/GetSeasonalAssets":{"get":{"tags":["ExternalImage"],"summary":"Assets Query. Un-Authorized users get access to only Product Shot older than the configured season","description":"Sample request:\r\n\r\n    GET /GetSeasonalAssets?MaterialNumber=1442362613","operationId":"get-api-external-image-getseasonalassets-materialnumber-materialnumber","parameters":[{"name":"MaterialNumber","in":"query","description":"10 Didgit product number","required":true,"schema":{"type":"string"},"example":1442362613},{"name":"Perspective","in":"query","description":"","schema":{"type":"string"},"example":"f"},{"name":"SubType","in":"query","description":"","schema":{"type":"string"},"example":"On Model"},{"name":"ModifiedOnStartRange","in":"query","description":"","schema":{"type":"string","format":"date-time"},"example":"2022-04-01T12:00:00.0000000+00:00"},{"name":"ModifiedOnEndRange","in":"query","description":"","schema":{"type":"string","format":"date-time"},"example":"2022-04-31T23:59:59Z"}],"responses":{"200":{"description":"Returns the Assets"},"400":{"description":"Material Number is required"},"500":{"description":"Unexpected Exception"}}}},"/api/external/image/GetSeasonalAssetsBulk":{"get":{"tags":["ExternalImage"],"summary":"Bulk Assets Query. Un-Authorized users get access to only Product Shot older than the configured season","description":"Sample request:\r\n\r\n    GET /GetSeasonalAssetsBulk?Skip=300&Take=100","operationId":"get-api-external-image-getseasonalassetsbulk","parameters":[{"name":"Perspective","in":"query","description":"","schema":{"type":"string"},"example":"f"},{"name":"SubType","in":"query","description":"","schema":{"type":"string"},"example":"On Model"},{"name":"ModifiedOnStartRange","in":"query","description":"","schema":{"type":"string","format":"date-time"},"example":"2022-04-01T12:00:00.0000000+00:00"},{"name":"ModifiedOnEndRange","in":"query","description":"","schema":{"type":"string","format":"date-time"},"example":"2022-04-31T23:59:59Z"},{"name":"Skip","in":"query","description":"","schema":{"type":"integer","format":"int32","default":0}},{"name":"Take","in":"query","description":"","schema":{"type":"integer","format":"int32","default":100}}],"responses":{"200":{"description":"Returns the Product Shot Assets"},"400":{"description":"Maximum Take size is 1000"},"500":{"description":"Unexpected Exception"}}}}},"components":{"securitySchemes":{"apiKeyHeader":{"type":"apiKey","name":"Ocp-Apim-Subscription-Key","in":"header"},"apiKeyQuery":{"type":"apiKey","name":"subscription-key","in":"query"}}},"security":[{"apiKeyHeader":[]},{"apiKeyQuery":[]}]}